@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,300;1,400&display=swap");

* {
  font-family: "Rubik", sans-serif;
}

.banner {
  z-index: -1;
}

.banner-height {
  height: 800px;
}

.purple {
  background-color: #686dd3;
}

.text-purple {
  color: #686dd3;
}

.text-gray {
  color: #373f50;
}

.fw-2 {
  font-weight: 500;
}

.btn-none {
  padding: 0;
  border: none;
  background: none;
}

.favoriteBtn,
.cartBtn {
  border: none;
  border-radius: 4px;
  padding: 7px 11px;
  color: #3a3a3a;
  background-color: #fff;
  transition: 0.2s ease;
}

.cartBtn:hover,
.favoriteBtn:hover {
  color: white;
  background-color: #dc3545;
}

.cartForm button.active {
  color: white;
  background-color: #dc3545;
}

.cartForm button.active:hover {
  color: #3a3a3a;
  background-color: #fff;
}

.my-cart-btn {
  border: solid 1px #e45664;
  border-radius: 4px;
  padding: 6px 10px;
  color: #e45664;
  background-color: #fff;
  transition: 0.2s ease;
}
.my-cart-btn.incart {
  border: solid 1px #fff;
  border-radius: 4px;
  padding: 6px 10px;
  color: #fff;
  background-color: #dc3545;
  transition: 0.2s ease;
}

.my-cart-btn:hover {
  color: #fff;
  border: solid 1px #dc3545;
  background-color: #dc3545;
}

.my-cart-btn.incart:hover {
  color: #dc3545;
  border: solid 1px #dc3545;
  background-color: #fff;
}

.checkout-btn {
  color: #fff;
  padding: 7px 11px;
  border: none;
  border-radius: 4px;
  background-color: #fe5859;
  transition: 0.2s;
}

.checkout-btn:hover {
  background-color: #ff3f3f;
}

.payment-btn {
  border: 1px solid rgb(193, 193, 193);
  border-radius: 4px;
  transition: 0.2s;
}

.payment-btn:hover {
  border-color: #686dd3;
  cursor: pointer;
}

.confirm-btn {
  border-radius: 4px;
  padding: 7px 11px;
  background-color: #fe5859;
  color: #fff;
  transition: 0.2s;
}

.confirm-btn:hover {
  background-color: #ff3f3f;
}

.categories a .card {
  transition: 0.2s;
}

.back-shop:hover {
  color: #fff !important;
  text-decoration: none;
}

.fs-small {
  font-size: 12px;
}

.fs-medium {
  font-size: 14px;
}

.product-title {
  text-decoration: none;
}

.btn-price {
  background-color: #eff0fa;
  font-size: 15px;
  color: #686dd3;
  border-radius: 2px;
  width: 70px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-weight: 600;
}

.heart-btn {
  width: 25px;
  height: 25px;
  background-color: #dc3545;
  color: white;
  line-height: 25px;
  font-size: 12px;
  border: none;
  border-radius: 50%;
  transition: 0.2s ease;
}

.heart-btn:hover {
  background-color: #fff;
  color: #dc3545;
}

.sales {
  color: rgb(92, 92, 92);
  height: 32px;
  font-size: 14px;
  line-height: 32px;
}

.text-2 {
  color: rgb(92, 92, 92);
  font-size: 11px;
}

.bar {
  position: relative;
  background-color: rgb(227, 227, 227);
  width: 80%;
  height: 5px;
}

.bar::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  width: 80%;
  height: 100%;
  background-color: #686dd3;
}

.product-card .icon-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  opacity: 0;
}

.product-card:hover .icon-hover {
  opacity: 1;
}

.product-title a {
  transition: 0.2s ease;
}

.product-title a:hover {
  color: #fe696a;
}

.checkout {
  z-index: 1;
}

:is(.form-login, .form-register) .form-floating:focus-within {
  z-index: 2;
}

.form-login input,
.form-register input {
  margin-bottom: -1px;
  border-radius: 0;
}

footer {
  background-color: #2b3445;
}
